@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;600&display=swap");

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
address,
blockquote,
div,
form,
fieldset,
caption,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ul,
li,
ol,
ul,
table,
tr,
td,
th,
p,
img {
    margin: 0;
    padding: 0;
}

img,
fieldset {
    border: none;
}
@media (max-width: 480px) {
    * {
        -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none;
    }
}
html,
body {
    width: 100%;
    height: 100%;
}

body {
    /* min-width: 48em;  for pre CSS3 browsers */
    font-family: 'Roboto', sans-serif;
}

header {
    overflow: hidden; /* wrap floats and margins */
    zoom: 1; /* trip haslayout, wrap floats and margins legacy IE */
    max-width: 64em;
    margin: 0 auto;
}

* html .widthWrapper {
    /*
		legacy IE can't do min/max-width, so shove a fixed width at them.
		OH WELL, they should be thankful we bother even thinking about the folks
		still using it!
	*/
    width: 48em;
}

a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none !important;
}

/* Main */

body {
    background-color: black;
}

header {
    display: flex;
    flex-direction: column;
    background-color: black;
    min-width: 100%;
    color: white;
    padding: 2em;
}

.h1 {
    color: white;
    font-weight: 700;
    font-size: 3em;
    line-height: 100%;
}

.pudding {
    text-decoration-line: underline;
}

.pudding a:hover {
    opacity: 80%;
}

#unique-question {
    text-decoration-line: underline;
}

.card {
    color: white;
    display: flex;
    flex-direction: column;
    padding: 2em;
    width: 100%;
    height: 100%;
    font-weight: 400;
}

.publish{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 1.5rem;
}


.question {
    margin-bottom: 1em;
    font-size: 1.5rem;
}

.text-field {
    padding: 1em;
    margin-bottom: 1em;
    font-weight: 600;
    font-size: 0.75rem;
}

.hidden {
    display: none;
}

.button {
    padding: 1em 2em 1em 2em;
    margin-bottom: 1em;
    background-color: white;
    color: black;
	border: none;
	outline: inherit;
    font-weight: 600;
    font-size: 0.75rem;
}

.button:hover {
    cursor: pointer;
    opacity: 80%;
}

@media (min-width: 62em) {
    header {
        justify-content: center;
        align-items: center;
        height: 25%;
    }

    .card {
        background-color: black;
        color: white;
        padding: 0 30em 0 30em;
        justify-content: center;
        height: 75%;
        text-align: center;
    }

    .publish {
        background-color: white;
        padding: 0 12em 0 12em;
        justify-content: center;
        align-items: center;
        height: 75%;
    }

    .publish-text {
        padding-inline-start: 8%;
        color: black;
    }
    
}

@media (max-width: 62em) {
    header {
        max-height: 25%;
        text-align: left;
    }

    .card {
        background-color: black;
        max-height: 75%;
    }

    .publish {
        background-color: white;
        max-height: 75%;
    }
    .publish-text {
        padding-inline-start: 0;
        color: black;
    }
}
