@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
address,
blockquote,
div,
form,
fieldset,
caption,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ul,
li,
ol,
ul,
table,
tr,
td,
th,
p,
img {
    margin: 0;
    padding: 0;
}

img,
fieldset {
    border: none;
}

@media (max-width: 480px) {
    * {
        -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none;
    }
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    /* min-width: 48em;  for pre CSS3 browsers */
    font-family: 'Roboto', sans-serif;
}

header {
    overflow: hidden;
    /* wrap floats and margins */
    zoom: 1;
    /* trip haslayout, wrap floats and margins legacy IE */
    max-width: 64em;
    margin: 0 auto;
}

* html .widthWrapper {
    /*
		legacy IE can't do min/max-width, so shove a fixed width at them.
		OH WELL, they should be thankful we bother even thinking about the folks
		still using it!
	*/
    width: 48em;
}

a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none !important;
}

body {
    background-color: black;
}

header {
    min-width: 100%;
    text-align: center;
}

.logo {
    padding: 0 26em 0 26em;
    display: none;
}
.logo img {
    max-width: 50%;
}

header h1 {
    margin-bottom: 1em;
    color: white;
    font-size: 3rem;
    display: none;
}

.links {
    min-width: 100%;
    padding: 4em 36em 4em 36em;
    color: white;
    text-align: center;
}

.links-list li {
    margin-top: 0.5em;
    padding: 1em;
    text-align: center;
    font-size: 1.5rem;
    list-style: none;
    border-radius: 4px;
    background-color: #ffffff;
    color: black;
    font-weight: 700;
}

.links-list li:hover {
    background-color: #ffff00;
    color: black;
    cursor: pointer;
}

.links-list li:active {
    opacity: 80%;
}


#newsletter {
    padding: 4em 36em 4em 36em;
    text-align: center;
}

#newsletter h2 {
    margin-bottom: 1em;
    color: white;
    font-size: 3rem;
}

#newsletter p {
    margin-bottom: 2em;
    color: white;
    font-size: 1.5rem;
}

.newsletter-form {
    display: flex;
    flex-direction: column;
}

.newsletter-input {
    margin-bottom: 1em;
    padding: 1em;
    border-radius: 4px;
    font-size: 1.5em;
}

#subscribe {
    padding: 1em;
    font-size: 1.5em;
    border-style: none;
    border-radius: 4px;
    background-color: #ffff00;
    color: black;
    font-weight: 700;
}

#subscribe:hover {
    cursor: pointer;
}

#subscribe:active {
    opacity: 80%;
}

@media (max-width: 1440px) {
	.links {
		min-width: 100%;
		padding: 4em 24em 4em 24em;
		color: white;
		text-align: center;
	}
	
	#newsletter {
    padding: 4em 24em 4em 24em;
	}
}

@media (max-width: 1360px) {
	.links {
		min-width: 100%;
		padding: 4em 22em 4em 22em;
		color: white;
		text-align: center;
	}
	
	#newsletter {
    padding: 4em 22em 4em 22em;
	}
}

@media (max-width: 1280px) {
	.links {
		min-width: 100%;
		padding: 4em 18em 4em 18em;
		color: white;
		text-align: center;
	}
	#newsletter {
		padding: 4em 18em 4em 18em;
	}
}

@media (max-width: 1024px) {
	.links {
		min-width: 100%;
		padding: 4em 6em 4em 6em;
		color: white;
		text-align: center;
	}
	#newsletter {
		padding: 4em 6em 4em 6em;
	}
}



@media (max-width: 62em) {

    header h1 {
        margin-bottom: 1em;
        font-size: 1.5rem;
    }

    .logo {
        padding: 0;
    }

    .links {
        padding: 1em;
    }

    .links-list li {
        padding: 1em 0 1em 0;
        margin-top: 0.5em;
        border-style: none;
        border-radius: 4px;
        background-color: #ffffff;
        color: black;
        font-weight: 700;  
    }

    .services-list li {
        padding: 1em 0 1em 0;
        border-style: none;
    }

    #newsletter {
        padding: 4em 2em 4em 2em;
    }
}
