@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body,
address,
blockquote,
div,
form,
fieldset,
caption,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
ul,
li,
ol,
ul,
table,
tr,
td,
th,
p,
img {
    margin: 0;
    padding: 0;
}

img,
fieldset {
    border: none;
}
@media (max-width: 480px) {
    * {
        -webkit-text-size-adjust: none;
        -ms-text-size-adjust: none;
    }
}
html,
body {
    width: 100%;
    height: 100%;
}

body {
    /* min-width: 48em;  for pre CSS3 browsers */
    font-family: 'Roboto', sans-serif;
}

header {
    overflow: hidden; /* wrap floats and margins */
    zoom: 1; /* trip haslayout, wrap floats and margins legacy IE */
    max-width: 64em;
    margin: 0 auto;
}

* html .widthWrapper {
    /*
		legacy IE can't do min/max-width, so shove a fixed width at them.
		OH WELL, they should be thankful we bother even thinking about the folks
		still using it!
	*/
    width: 48em;
}

a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
    text-decoration: none !important;
}

/* Main */

header {
    min-width: 100%;
    background-color: black;
}

.header {
    margin: 0 auto;
    padding: 6em 0;
    max-width: 62em;
    width: 80%;
}

main {
    padding: 2em 0 2em 0;
}

.blog-title {
    font-weight: 700;
    font-size: 3em;
    color: #ffff00;
}

.blog-post {
    width: 100%;
}

.text-box {
    margin: 0 auto;
    max-width: 62em;
    width: 80%;
    padding: 4em 0 4em 0;
    margin-top: 2em;
    margin-bottom: 2em;
}

.post-link:hover {
    background-color: #ffff00;
}

.text-title {
    font-size: 3em;
}

.blog-text {
    font-size: 1.5em;
    line-height: 120%;
}

footer {
    width: 100%;
    background-color: black;
}

.footer {
    margin: 0 auto;
    padding: 2em 0;
    max-width: 62em;
    width: 80%; 
    padding: 4em 0 4em 0;
}

footer small {
    font-weight: 700;
    font-size: 3em;
    color: white;
}

@media (min-width: 62em) {

    .text-box {
        margin: 0 auto;
        max-width: 62em;
        width: 50%;
        padding: 6em 2em 6em 2em;
        margin-top: 2em;
        margin-bottom: 2em;
        border-style: solid;
        border-width: 4px;
        border-color: black;
    }
    
    .post-link:hover {
        background-color: #ffff00;
        border-color: #ffff00;
        cursor: pointer;
    }

    footer {
        display: flex;
        justify-content: center;
    }
}